header.header {
  background-color: $light;
  padding: calc($spacer / 4) 0;

  &.active {
    @extend .fixed-top;
    @extend .shadow-sm;
    @extend .w-100;
    animation: drop 400ms ease-in-out;
  }

  nav {
    @extend .d-flex;
    @extend .flex-column;
    ul {
      li {
        a {
          color: $green;

          @extend .d-block;
          @extend .fs-6;
          @extend .fw-semibold;
          @extend .text-uppercase;
          @extend .text-decoration-none;
          @extend .py-2;
          @extend .mx-2;
          @extend .px-3;
          @extend .border;
          @extend .border-2;

          &:hover {
            color: $brown;
            border-color: $brown !important;
          }
        }
      }
    }
  }

  &.active {
    nav {
      @extend .flex-row;
      @extend .align-items-center;
    }
  }
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

[data-observer-intercept] {
  position: absolute;
  top: 10rem;
}
