<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main>
      <!-- reusable components -->
      <%= require('html-loader!../partials/header.html').default %>
      <section>
        <div class="container">
          <img
            src="<%= require('../images/cadillac.jpg') %>"
            alt="Cadillac"
            class="img-fluid"
          />
        </div>
      </section>
      <%= require('html-loader!../partials/footer.html').default %>
    </main>
  </body>
</html>
