footer.footer
  .container.d-flex.flex-column.flex-lg-row.my-5
    ul.nav.flex-column.my-3.my-lg-0
      li.nav-item
        a.nav-link(href='#') Home
      li.nav-item
        a.nav-link(href='#') About
    ul.nav.flex-column.my-3.my-lg-0
      li.nav-item
        a.nav-link(href='#') Lorem, ipsum dolor.
      li.nav-item
        a.nav-link(href='#') Cupiditate, possimus et.
      li.nav-item
        a.nav-link(href='#') Quos, error sint?
      li.nav-item
        a.nav-link(href='#') Cupiditate, exercitationem nihil?
      li.nav-item
        a.nav-link(href='#') Dolore, earum cum.
    ul.nav.social-media.justify-content-center
      li.nav-item
        a.nav-link(href='https://www.instagram.com/', target='_blank') instagram
      li.nav-item
        a.nav-link(href='https://www.facebook.com/', target='_blank') facebook
      li.nav-item
        a.nav-link(href='https://twitter.com/', target='_blank') twitter
      li.nav-item
        a.nav-link(href='https://linkedin.com/', target='_blank') linkedin
      li.nav-item
        a.nav-link(href='https://youtube.com', target='_blank') youtube
