-
  const navLinks = [
    { href: '/', text: 'Home' },
    { href: '/markdown', text: 'Markdown' },
    { href: '/about', text: 'About' },
  ]

header.header#header.pb-3
  .container
    nav
      a.logo.align-self-center.p-4(href='#')
        img(src=require('@images/compass.svg'), alt='Logo', class='img-fluid')
      ul.d-flex.justify-content-center.list-unstyled.my-0
        each val in navLinks
          li.nav-item(class=val === navLinks[navLinks.length - 1] ? 'nav-item' : 'nav-item mr-3')
            a.nav-link(href=val.href)= val.text
