header.header.pb-3
  .container
    nav.d-flex.flex-column
      a.logo.align-self-center.p-4(href='#')
        img(src=require('@images/compass.svg'), alt='Logo', class='img-fluid')
      ul.d-flex.justify-content-center.list-unstyled.my-0
        li
          a(href='/') Home
        li
          a(href='/about') About
