extends @layouts/base.pug

//- page specifically styles and scripts
block head
  //- relative path to SCSS source file
  link(href="./about.scss" rel="stylesheet")
  //- relative path to JS source file
  script(src="./about.js" defer="defer")

block content
  section
    .container
      h1.mt-5 About Page
      p This is the about page.
      p
        a(href='/') Go Back to Home
      #app
