doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="@images/favicon.svg" rel="icon")
    //- the title is the external variable passed in Webpack config via PugPlugin
    title= title
    block head
  body
    main#siteMain
      //- reusable components
      include @components/header.pug
      block content
      include @components/footer.pug
